services:

  # MQTT Broker com TLS
  mqtt:
    build: ./mqtt
    container_name: smartlab-mqtt-broker
    ports:
      - "8883:8883"  # MQTT com TLS
      - "9002:9001"  # WebSocket com TLS (alterada para 9002)
    volumes:
      - ./certs/mqtt:/mosquitto/certs
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mqtt-data:/mosquitto/data
      - mqtt-log:/mosquitto/log
    networks:
      - iot-network
    restart: unless-stopped

  networks:
    iot-network:
      driver: bridge
    

  # PostgreSQL com TLS
  #postgres:
  #  build: ./postgres
  #  container_name: smartlab-postgres
  #  environment:
  #    POSTGRES_DB: iot_database
  #    POSTGRES_USER: iot_user
  #    POSTGRES_PASSWORD: iot_password_secure
  #    POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
  #  ports:
  #  - "5432:5432"
  #  volumes:
  #    - ./certs/postgres:/var/lib/postgresql/certs:ro
  #    - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
  #    - postgres-data:/var/lib/postgresql/data
  #    - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
  #  networks:
  #    - iot-network
  #  restart: unless-stopped
  #  command: postgres -c config_file=/etc/postgresql/postgresql.conf
  
  
  