services:
  # MQTT Broker com TLS
  mqtt:
    build: ./mqtt
    container_name: smartlab-mqtt-broker
    ports:
      - "8883:8883"  # MQTT com TLS
      - "9002:9001"  # WebSocket com TLS (alterada para 9002)
    volumes:
      - ./mqtt/certs:/mosquitto/certs
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mqtt-data:/mosquitto/data
      - mqtt-log:/mosquitto/log
    restart: unless-stopped
    networks:
      - smartlab-network

  # PostgreSQL com TLS
  postgres:
    build: ./postgres
    container_name: smartlab-postgres
    #user: "root:root"  # ESSENCIAL! Inicia como root
    environment:
      POSTGRES_USER: smartlab
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: smartlab_db
    ports:
      - "5432:5432"
    volumes:
      #- ./postgres/certs:/etc/postgresql/certs:ro
      - ./postgres/conf/postgresql.conf:/tmp/postgresql.conf
      - ./postgres/conf/pg_hba.conf:/tmp/pg_hba.conf
      #- postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - smartlab-network

  nginx:
    image: nginx:latest
    container_name: smartlab-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/certs:ro
    depends_on:
      - flask-api
    restart: unless-stopped
    networks:
      - smartlab-network

  flask-api:
    build: ./flask-api
    container_name: smartlab-api
    expose:
      - "5000"
    volumes:
      - ./flask-api/certs:/app/certs:ro
    environment:
      - FLASK_ENV=production
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=smartlab_db
      - DB_USER=smartlab
      - DB_PASSWORD=admin
      - DB_SSLMODE=requeire
      - DB_SSLCERT=/app/certs/client.crt
      - DB_SSLKEY=/app/certs/client.key
    restart: unless-stopped
    networks:
      - smartlab-network

networks:
  smartlab-network:
    driver: bridge

volumes:
  mqtt-data:
  mqtt-log:
  postgres-data:
